body {
	width:100%;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}
a:link, a:visited, a:hover {
	color:#fff;
	text-decoration:none;
}
.ui-btn, .ui-btn-inner, .ui-btn-text, .ui-btn-up-a, .ui-shadow {
	background:none;
	color:#fff;
	text-shadow:none;
	font-weight:normal;
	font-size:18px;
	line-height: 20px;
	box-shadow: none;
	border:none;
	box-shadow: none;
}

div[data-role="page"] {
	background-image:url(../images/bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center top;
	background-attachment:fixed;
	text-align:center;
	width:100%;
	height:100%;
}
#home .header {
	background-image:url(../images/logo.png);
	position:relative;
	top:0;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:top center;
	width:90%;
	z-index:2;
	background-position:top left;
	height: 40%;
}

#home .map {
	height:50%;
	position:absolute;
	top:20%;
	width:50%;
	left:10%;
}
#home .map img {
	width:90%;
	margin-top:10%;
	margin-left:auto;
	margin-right:auto;
}

#home .scanContainer{
	position:absolute;
	z-index:20;
	top:10%;
	width:25%;
	right:20px;
	text-align:right;
}

*.scanButton {
	background:#102c6e;
	color:#fff;
	font-weight:normal;
	font-size:36px;
	line-height: 40px;
	padding: 20px 10px;
	text-align: center;
	background-image:-webkit-gradient(linear,left top,left bottom,from( #fff ),to( #102c6e ));
	background-image:-webkit-linear-gradient( #fff,#102c6e 60%, #102c6e );
	background-image:-moz-linear-gradient( #fff,#102c6e 60%, #102c6e );
	background-image:-ms-linear-gradient( #fff,#102c6e 60%, #102c6e );
	background-image:-o-linear-gradient( #fff,#102c6e 60%, #102c6e );
	background-image:linear-gradient( #fff,#102c6e 60%, #102c6e );
	border-radius: 15px;
	width:90%;
	max-width: 200px;
	margin: 0;
}

#home .navContainer {
	position:absolute;
	z-index:10;
	top:50%;
	right:20px;
	width:25%;
	text-align:right;
}
a.navButton:link, a.navButton:visited, a.navButton:hover {
	padding: 10px 10px;
	background-color: #7597c7;
	color:#fff !important;
	text-shadow:none;
	font-weight:normal;
	font-size:18px;
	line-height: 20px;
	text-align: center;
	border-radius: 15px;
	display:block;
	margin:5px 0;
	width:90%;
	max-width: 200px;
}

#aboutPage p {
	text-align:left;
}

#aboutPage .blue  {
	color:blue;
}

#aboutPage .scanContainer {
	width: 35%;
}
#aboutPage .navContainer  {
	width: 35%;
}

.footer{
	position:relative;
	bottom:0;
	background-image:url(../images/footer-bg.png);
	background-position:bottom left;
	background-repeat: no-repeat;
	text-align:center;
	height:60%;
}



/*iPads (landscape)*/
/*
@media (min-width : 768px) 
and (orientation : landscape) {
#home .map {
	position:absolute;
	top:20%;
	width:50%;
	left:20%;
}

#home .map img {
	width:90%;
	margin-top:10%;
	margin-left:auto;
	margin-right:auto;
}	
}*/