/* Styles for MapTest */

/* State Name */
#map > div[data-role="content"] > h3 {
	margin: 0;
	text-align: center;
}

#map-canvas {
	display: block;
	margin: 0 auto;
	width: 98%;
	/* height calculated in map.js */
}

/* Remove close button on InfoWindow for state */
/* image source ends with imgs8.png */
#map-canvas img[src$="imgs8.png"] { display: none; }

/* Center the state artwork in the InfoWindow */
#map .artwork {
	display: block;
	margin: 0 auto;
}