body {
	width:100%;
	height:100%;
}
a:link, a:visited, a:hover {
	text-decoration:none;
}
.ui-btn, .ui-btn-inner, .ui-btn-text, .ui-btn-up-a, .ui-shadow {
	background:none;
	color:#fff;
	text-shadow:none;
	font-weight:normal;
	font-size:18px;
	line-height: 20px;
	box-shadow: none;
	border:none;
	box-shadow: none;
}
.ui-bar-a .ui-shadow, .ui-bar-b .ui-shadow, .ui-bar-c .ui-shadow {
	box-shadow: none;
	border: none;
}
.ui-bar-a {
	background:none;
	border: none;
}

div[data-role="page"] {
	background-image:url(../images/background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	background-attachment:fixed;
	text-align:center;
}
div[data-role="header"] {
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:top center;
	height: 25%;
}

.scanButton {
	background:#102c6e;
	color:#fff;
	font-weight:normal;
	font-size:36px;
	width:50%;
	line-height: 40px;
	margin:0 auto;
	padding: 20px 20px;
	text-align: center;
	background-image:-webkit-gradient(linear,left top,left bottom,from( #fff ),to( #102c6e ));
	background-image:-webkit-linear-gradient( #fff,#102c6e 60%, #102c6e );
	background-image:-moz-linear-gradient( #fff,#102c6e 60%, #102c6e );
	background-image:-ms-linear-gradient( #fff,#102c6e 60%, #102c6e );
	background-image:-o-linear-gradient( #fff,#102c6e 60%, #102c6e );
	background-image:linear-gradient( #fff,#102c6e 60%, #102c6e );
	border-radius: 15px;
}

#home div[data-role="content"] {
	background-image:url(../images/us-map.png);
	background-position:bottom center;
	background-repeat: no-repeat;
	background-size: contain;
	height:50%;
	top:25%;
	margin:0 auto;
}

div[data-role="footer"]	{
	text-align:center;
	height:25%;
}


.footerButton, .ui-footer > .ui-btn {
	display:inline-block;
	margin:0 20px;
	padding: 10px 10px;
	background-color: #7597c7;
	color:#fff;
	text-shadow:none;
	font-weight:normal;
	font-size:18px;
	line-height: 20px;
	text-align: center;
	border-radius: 10px;
}

@media only screen and (orientation : landscape) {
	div[data-role="page"] {
		background-image:url(../images/background_ls.jpg);

	}
}