* {
	margin:0;
	padding:0;
}

ul {list-style-type:none;}

p {
	text-align:left;
	margin: 10px 20px 0 20px;
}

body {
	width:100%;
	height:100%;
	background-image:url(../images/footer-bg.png), url(../images/bg.jpg);
	background-repeat:no-repeat;
	/*background-size:cover;*/
	background-position:bottom left, center top;
	background-attachment:fixed;

	font-family:Arial, Helvetica, sans-serif;
}
a:link, a:visited, a:hover {
	color:#fff;
	text-decoration:none;
}

.ui-btn, .ui-btn-inner, .ui-btn-text, .ui-btn-up-a, .ui-shadow {
	background:none;
	color:#fff;
	text-shadow:none;
	font-weight:normal;
	font-size:18px;
	line-height: 20px;
	box-shadow: none;
	border:none;
	box-shadow: none;
}

div[data-role="page"] {
	background-image:url(../images/footer-bg.png), url(../images/bg.jpg);
	background-repeat:no-repeat;
	/*background-size:cover;*/
	background-position:bottom left, center top;
	background-attachment:fixed;
	text-align:center;
	width:100%;
	height:100%;
}
#home .header {
	background-image:url(../images/logo.png);
	position:relative;
	top:0;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:top center;
	width:90%;
	height: 25%;
	z-index:2;
}

#home .USmap {
	width:100%;
	height:50%;
	top:25%;
}

#home .USmap img {
	width:90%;
	margin-top:10%;
}

#home .scanContainer{
	position:absolute;
	top:25%;
	width:100%;
	text-align:center;
	z-index:20;
}


.scanButton {
	background:url(../images/fbScan.fw.png) no-repeat;
	background-size:contain;
	width:102px;
	height: 52px;
}

#home .scanButton {
	background:#102c6e;
	color:#fff;
	font-weight:normal;
	background-image:-webkit-gradient(linear,left top,left bottom,from( #fff ),to( #102c6e ));
	background-image:-webkit-linear-gradient( #fff,#102c6e 60%, #102c6e );
	background-image:-moz-linear-gradient( #fff,#102c6e 60%, #102c6e );
	background-image:-ms-linear-gradient( #fff,#102c6e 60%, #102c6e );
	background-image:-o-linear-gradient( #fff,#102c6e 60%, #102c6e );
	background-image:linear-gradient( #fff,#102c6e 60%, #102c6e );
	display: inline-block;
	font-size:18px;
	margin:0 20px;
	padding: 0;
	text-align: center;
	line-height: 52px;
	border-radius: 10px;
	width:102px;
	height: 52px;
	display:block;
	font-size:36px;
	width:50%;
	line-height: 40px;
	margin:0 auto;
	padding: 20px 10px;
}


.navContainer {
	text-align:center;
	width:100%;
	z-index:10;
	padding-top:30px;
	padding-bottom: 20px;
}

#home .navContainer {
	position:absolute;
	top:75%;
	text-align:center;
	width:100%;
	z-index:10;
	margin-top:0;
}

.navButton {
	display:inline-block;
	background-color: #7597c7;
	color:#fff !important;
	text-shadow:none;
	font-weight:normal;
	font-size:18px;
	line-height: 52px;
	text-align: center;
	border-radius: 10px;
	width:102px;
	height: 52px;
	margin:0 3px;
}

#home navButton {
		margin:0 20px;
}
.home {
	background:url(../images/fbHome.fw.png) no-repeat;
	background-size:contain;
}
.backButton {
	background:url(../images/fbBack.fw.png) no-repeat;
	background-size:contain;
}
.about {
	background:url(../images/fbAbout.fw.png) no-repeat;
	background-size:contain;
}
.facebook {
	background:url(../images/fbFB.fw.jpg) no-repeat;
	background-size:contain;
}


.footer{
	position:relative;
	bottom:0;
	background-image:url(../images/footer-bg.png);
	background-position:bottom left;
	background-repeat: no-repeat;
	text-align:center;
	height:25%;
}

#second .footer {
	height:150px;
}

#statename, #aboutPage h1, #aboutPage h2 {
	color: #102c6e;
	margin: 10px auto;
}

#statesongs {
	posiiton:relative;
	margin: 10px auto;
	width: 90%;
	border: 3px solid #ccc;	
}
	
#statesongs li {
	padding: 10px;
	border-bottom: 2px solid #ccc;
	font-size: 18px;
}

#statesongs a img {
	display:inline-block;
	padding: 5px;
}

#second a[href="#map"] {
	background-color: #7597c7;
	display:block;
	margin:0 auto;
	color:#fff !important;
	text-shadow:none;
	font-weight:normal;
	font-size:18px;
	line-height: 80px;
	text-align: center;
	border-radius: 40px;
	width:80px;
	height: 80px;
	-webkit-box-shadow:  0px 0px 5px #555;
	-moz-box-shadow:  0px 0px 5px #555;
	-ms-box-shadow:  0px 0px 5px #555;
	box-shadow:  0px 0px 5px #555;
}

#aboutPage .blue {
	color: blue;
}
/*
#second a[href="#map"] {
	background-color: white;
	color: #7597c7;
	display:block;
	margin:0 auto;
	text-transform:uppercase;
	font-weight:bold;
	font-size:28px;
	line-height: 36px;
	height:36px;
	width: 70px;
	text-align: center;
	padding: 20px;
	border:thin solid #aaa;
	-webkit-box-shadow:  inset 0px 0px 30px #777;
	-moz-box-shadow:  inset 0px 0px 30px #7775;
	-ms-box-shadow:  inset 0px 0px 30px #777;
	box-shadow:  inset 0px 0px 30px #777;
	border-radius: 30px;
}*/


@media (orientation : landscape) {
#home .header {
	background-position:top left;
	height: 40%;
}

#home .USmap {
	height:50%;
	position:absolute;
	top:20%;
	width:50%;
	left:10%;
}
#home .USmap img {
	margin-left:auto;
	margin-right:auto;
}

#home .scanContainer {
	top:10%;
	width:25%;
	right:20px;
	text-align:right;
}



#home .scanButton {
	width:90%;
	max-width: 200px;
	margin: 0;
	float:right;
}

#home .navContainer, #second .navContainer {
	position:absolute;
	top:50%;
	right:20px;
	width:20%;
	text-align:right;
}

#second .navContainer{
	top: 10%;
}


#home .navButton,  #second .navButton{
	display:block;
	margin:5px 0;
	float:right;
}


#aboutPage .navContainer > * {
	display: inline-block;
}

#home .footer{
	height:60%;
}

#second .content {
	width: 80%;
}
#statepic {
	position:relative;
	width: 45%;
	float:left;
}

#statesongs {
	posiiton:relative;
	margin: 10px auto;
	float:left;
	width: 53%;
	border: 3px solid #ccc;	
}

#statesongs li {
	padding-left:5px;
	padding-right: 5px;
}

#second a[href="#map"] {
	float:left;
	margin-left:20%;
}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */


#home .scanButton {
	margin:0 auto;
	padding: 0;
	height: 78px;
	font-weight:bold;
	border-radius: 15px;
	font-weight:bold;
	font-size:48px;
	width:40%;
	line-height: 78px;
	padding: 20px 20px;
}

#statename, #aboutPage h1, #aboutPage h2 {
	color: #102c6e;
	margin: 10px auto;
	font-size: 2.5em;
}

.navContainer {
	margin-top: 40px;
}

#home .navContainer {
	top:80%;
}

.navButton {
	margin:0 10px;
	font-size:36px;
	font-weight:bold;
	line-height: 78px;
	border-radius: 15px;
	width:153px;
	height: 78px;
}

#home .navButton {
	margin:0 40px;
}

#second a[href="#map"] {
	font-size:24px;
	line-height: 100px;
	text-align: center;
	border-radius: 50px;
	width:100px;
	height: 100px;
	-webkit-box-shadow:  0px 0px 5px #555;
	-moz-box-shadow:  0px 0px 5px #555;
	-ms-box-shadow:  0px 0px 5px #555;
	box-shadow:  0px 0px 5px #555;
}

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
#home .USmap {
	height:60%;
	position:absolute;
	top:20%;
	width:60%;
	left:10%;
}

#home .scanContainer{
	top:10%;
	width:25%;
	right:10%;
	text-align:right;
}

#home .scanButton {
	width:90%;
	max-width: 200px;
	margin: 0;
	float:right;
}
#home .navContainer {
	top:50%;
	right:10%;
	width:25%;
	text-align:right;
}

#home .navButton {
	display:block;
	margin:5px 0;
	float:right;
}

#statepic {
	width: auto;
	float:none;
}

#statesongs {
	float:none;
	width: 90%;
}

#second a[href="#map"] {
	float: none;
	margin: 20px auto;
}
}

