<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.statesongs.ccc"
        versionCode="1" 
        version   = "1.0.0">    

    <gap:plugin name="BarcodeScanner" /> <!-- latest release -->
    
    <name>State Tuned: Cascadia Release</name>

    <description>
        Mapping State Songs Project, 2013, Cascadia Community College
    </description>

    <author href="http://cascadia.edu" email="brianb@cascadia.edu">
        BIT 271 Class - Spring 2013 - Cascadia Community College
    </author>
    
    <preference name="phonegap-version" value="2.7.0" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-maxSdkVersion" value="17" />
    <preference name="load-url-timeout" value="30000" />

    <!-- Icon Info -->
    <icon src="icons/icon.png" />
    
    <icon src="icons/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="icons/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
    
    <icon src="icons/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icons/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    
    <!-- Splash Screen Info -->
    <gap:splash src="splash/ios/Default.png" width="320" height="480" />
	<gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
	<gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
	<gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
	<gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
	<gap:splash src="splash/ios/Default-Landscape_at_2x.png" width="2048" height="1496" />
	<gap:splash src="splash/ios/Default-Portrait_at_2x.png" width="1536" height="2008" />   
    
</widget>
