<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.test.qr"
        versionCode="1" 
        version   = "1.0.0">

    <gap:plugin name="BarcodeScanner" /> <!-- latest release -->
    <gap:plugin name="ChildBrowser" /> <!-- latest release -->

    <!-- versionCode is optional and Android only -->

    <!-- <icon src="images/logo.png" /> -->
    
    <name>QR Test</name>

    <description>
        Simply testing the deployment of the QR scanner on the mobile device using Phonegap Build.
    </description>

    <author href="https://tom.christilaw.com" email="tom@christilaw.com">
        Tom Christilaw 
    </author>

</widget>