#stop {
	width: 200px;
	height: 115px;
	background-color: firebrick;
	color: #fff;
	font-weight: bold;
	font-size: 24pt;
	margin: 30px auto;
	border-radius: 100px;
	text-align: center;
	padding-top: 85px;
}

#second div[data-role="content"]>h1 {
	text-align: center;
}